/chill/.vscode/*
/.vscode/*
!/chill/.vscode/extensions/
!/.vscode/extensions/
/chill/.vscode/extensions/*
/.vscode/extensions/*
!/chill/.vscode/extensions/rocha-color/
!/.vscode/extensions/rocha-color/