/******---author @Harsh-bin Github --*****/
/* Modified by antigravity */

configuration {
    show-icons:                 false;
}

@import "/home/salieri/.config/rofi/shared/colors.rasi"
@import "/home/salieri/.config/rofi/shared/fonts.rasi"


/*****----- Main Window -----*****/
window {
    transparency:                "none";
    location:                    northeast;
    anchor:                      northeast;
    fullscreen:                  false;
    width:                       500px;
    height:                      220px;
    x-offset:                    -25px;
    y-offset:                    25px;

    enabled:                     true;
    cursor:                      "default";
    background-color:            @background;
    border:                      1px;
    border-color:                @foreground;
    border-radius:               0px;
    padding:                     15px;
}

mainbox {
    enabled:                     true;
    spacing:                     15px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "middle-wrapper", "listview" ];
}

middle-wrapper {
    enabled:                     true;
    orientation:                 horizontal;
    spacing:                     20px;
    background-color:            transparent;
    expand:                      true; 
    children:                    [ "album-art", "custom-text-box" ];
}

album-art {
    enabled:                     true;
    width:                       130px; 
    height:                      130px; 
    background-color:            @background-alt;
    background-image:            url("/home/salieri/.config/rofi/nowplaying/album_art.png", both);                         
    border:                      1px;
    border-color:                @foreground;
    border-radius:               0px;
    expand:                      false; 
}

custom-text-box {
    enabled:                     true;
    expand:                      true;
    padding:                     0px;
    background-color:            transparent;
    border-radius:               0px;
    children:                    [ "textbox-custom" ];
}

textbox-custom {
    background-color:            transparent;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    markup:                      true; 
    str:                         "Loading...";
}

/*****-----(Buttons) -----*****/
listview {
    enabled:                     true;
    columns:                     3;
    lines:                       1;
    dynamic:                     true;
    reverse:                     false;    
    spacing:                     15px;
    background-color:            transparent;
    cursor:                      "default";
    expand:                      false; 
}

element {
    enabled:                     true;
    padding:                     10px;
    border-radius:               0px; 
    border:                      1px;
    border-color:                @foreground;
    cursor:                      pointer;
    background-color:            @background-alt;
    text-color:                  @foreground;
    orientation:                 horizontal;
}

element selected {
    background-color:            @selected;
    text-color:                  @background;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}